# Dependencies
node_modules/

# Angular cache and build
.angular/
dist/

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log*

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments (sensitive data)
src/environments/environment.ts
src/environments/environment.prod.ts
